@import "tailwindcss";

@theme {
  --color-fuchsia-400: #e879f9;
  --color-fuchsia-500: #d946ef;
  --color-fuchsia-600: #c026d3;
}

@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 1rem);
}
